@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
@import './variables.scss';
@import './price-tables.scss';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}