$basic-fonts: 'Montserrat', sans-serif;

$card-text-color: #fff;

$card-bg-color: #334247;
$card-marker-popular-bg-color: #DC3F45;

$card-basic-color: #5BB189;
$card-business-color: #3A6BA5;
$card-webshop-color: #EC632A;

$card-basic-style-list-item: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);

$card-business-style-list-item: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);

$card-webshop-style-list-item: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);


$card-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
